body {
    background: rgba(185, 185, 185, 0.2);
}
.header-top {
    width:100%;
    height: 50px;
    background: #3A3636;
}
.menu {
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0 1px 15px #CCCACA;
}
header {
    margin-bottom: 20px;
}
.main {
    min-height: 580px;
}
.footer {
    height: 100px;
    background: #333;
    /*position:absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
}
a:hover {
    text-decoration: none!important;
}
.search-box {
    margin-bottom: 20px;
    font-size: 0;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px #CCCACA;
    -moz-box-shadow:0 6px 10px #CCCACA;
    -webkit-box-shadow: 0 6px 10px #CCCACA;
    width:100%;
    margin:0 auto 20px;
    z-index: 1000;
}
.search-box > input {
    width: 70%;
    border:none;
    height: 50px;
    padding: 5px 20px;
    font-size: 20px;
    color: #31708f;
    text-overflow: ellipsis;
}

.search-box > button {
    font-size: 22px;
    width: 30%;
    border:1px solid #01A89E;
    background: linear-gradient(to bottom, #1FB9B0 0%, #039C93 56%, #0AA299 100%);
    color:#fff;
    height: 50px;
    vertical-align: top;
    border-radius: 0;
    transition: font-size 0.2s;
}

.search-box > button:hover {
    border:1px solid #01A89E;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px
    /*background:rgba(255, 255, 255, 0.5);*/
}
.list-student-table {
    margin-top:20px;
}
.btn-new {
    background: #fff;
    width:100%;
    border: 1px solid #01A89E;
    color:#01A89E;
    font-weight: bold;
    transition: background 0.3s;
}
.btn-new:hover {
    background: #01A89E;
    border: 1px solid #fff;
    color:#fff;
    font-weight: bold;
}
/*Pagination*/
.pagination > li:not(.prev-button):not(.next-button):not(.active) {
    display: none;
}
.list-student-table th {
    background: #01A89E;
    color: #fff;
}
#search_key::-webkit-input-placeholder {
        font-size: 12px;
    }
#search_key::-moz-placeholder{
    font-size: 12px;
}
@media only screen and (min-width: 320px) {
    .pagination> .next, .pagination .prev {
        display: inline!important;
    }
    .search-box > input {
        display: inline-block;
        width:80%;
    }
    .search-box > button {
        width: 20%;
    }
    #search_key::-webkit-input-placeholder {
        font-size: 14px;
    }
    #search_key::-moz-placeholder{
        font-size: 14px;
    }
}

@media screen and (min-width: 640px) {
    .search-box {
/*        width:80%;
        margin:0 auto 20px;*/
    }
    
    .pagination {
        margin-top:45px;
    }
    //pagination
    .pagination > .first {
        display: inline!important;
    }
    .search-box > input {
        display: inline-block;
        width:90%;
    }
    .search-box > button {
        width: 10%;
    }
    .btn-new {
        width: 25%;
    }
    .pagination > li{
        display: inline!important;
    }
    #search_key::-webkit-input-placeholder {
        font-size: 18px;
    }
    #search_key::-moz-placeholder{
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .btn-new {
        width:25%;
    }
    #search_key::-webkit-input-placeholder {
        font-size: 20px;
    }
    #search_key::-moz-placeholder{
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
    .btn-new {
        width:20%;
    }
    .btn-delete {
        margin-top:-355px;
    }
}
@media screen and (max-width: 640px) {
    table {
      border: 0;
    }
    table thead {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 15px;
      border-bottom: 1px dotted #ccc;
    }
    table td > a {
        font-weight: bold;
        font-size: 18px;
    }
    table td:last-child {
      border-bottom: 0;
    }
    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
   .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: rgba(1, 168, 158, 0.73);
        color:#fff;
    }
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>a{
    color: #0D8C84;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: #0D8C84;
}

label.control-label {
  font-weight: 600;
  color: #777;
}
.form-group.internal {
    margin-bottom: 0;
}
.panel-primary>.panel-heading {
    background: #01A89E;
}
.btn-custom {
    background: #01A89E;
    color: #fff;
}
.btn-custom:hover {
    color: #fff;
    background: #0D8982;
}
.student-form-del {
    /*float:right;*/
    /*display: inline-block;*/
}
label.error {
    color: #a94442;
    font-weight: normal;
}
label.required:after {
    content: "*";
    color: red;
}
.list-student-container {
    position: relative;
}

.ajax-loading {
    width: 100%;
    height: 100%;
    background:red;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    display: none;
}
.panel-heading h4 {
    display: inline-block;
    margin-left: 5px;
}
.panel-heading > a{
    font-size: 22px;
    color: #fff;
    margin-top:1px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background: #E3ECEB;
}
.navbar-brand {
    font-size: 22px;
}
.sex-filter {
    margin: 0 0 20px;
}
.sex-filter > li {
    display: inline-block;
    margin-right: 30px;
}
.sex-filter label {
    vertical-align: top;
    
}
.label-manager {
    border: 1px solid #3da0c5;
    border-left:4px solid #3da0c5;
    padding:0 10px;
    margin-bottom: 20px;
    height: 50px;
    display:block;
    line-height: 50px;
}
.label-manager i {
    font-size: 18px;
    padding: 5px;
    display: inline-block;
}
.panel-primary>.panel-heading {
    background: #3da0c5;
}
.add-name {
    margin-bottom: 30px;
}
.add-name button {
    background: #fff;
    border: 1px solid #ccc;
}
.add-name button > i {
    padding: 2px 10px 2px 5px;
}
.label-manager span {
    
}
.label-manager input {
    width:50%;
    height: 46px;
    border: 0;
    padding: 0;
    font-size: 20px;
    color: #204d74;
}
.label-manager input:focus {
    outline: none;
}
.focus-edit {
    border: 1px solid red;
    border-left: 4px solid red;
}