body {
    background: #FFFFFF;
}
.header-top {
    width:100%;
    height: 50px;
    background: #3A3636;
}
.menu {
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0 1px 15px #CCCACA;
}
header {
    margin-bottom: 20px;
}
.footer {
    height: 130px;
}
a:hover {
    text-decoration: none!important;
}
.search-box {
    margin-bottom: 20px;
    font-size: 0;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px #CCCACA;
    width:80%;
    margin:0 auto 20px;
}
.search-box > input {
    width: 70%;
    /*border:1px solid #01A89E;*/
    border:none;
    height: 50px;
    padding: 5px 20px;
    font-size: 20px;
    color: #31708f;
}
.search-box > button {
    width: 30%;
    border:1px solid #01A89E;
    background: linear-gradient(to bottom, #1FB9B0 0%, #039C93 56%, #0AA299 100%);
    color:#fff;
    height: 50px;
    vertical-align: top;
    border-radius: 0;
    transition: font-size 0.2s;
}

.search-box > button:hover {
    border:1px solid #01A89E;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px
    /*background:rgba(255, 255, 255, 0.5);*/
}
.list-student-table {
    margin-top:20px;
}
.btn-new {
    background: #fff;
    width:100%;
    border: 1px solid #01A89E;
    color:#01A89E;
    font-weight: bold;
}
.btn-new:hover {
    background: linear-gradient(to bottom, #1FB9B0 0%, #039C93 56%, #0AA299 100%);
    border: 1px solid #fff;
    color:#fff;
    font-weight: bold;
}
/*Pagination*/
.pagination > li:not(.prev-button):not(.next-button):not(.active) {
    display: none;
}
.list-student-table th {
    background: #01A89E;
    color: #fff;
}
@media only screen and (min-width: 320px) {
    .pagination> .next, .pagination .prev {
        display: inline!important;
    }
    .search-box > input {
        display: inline-block;
        width:80%;
    }
    .search-box > button {
        width: 20%;
    }
    
}

@media screen and (min-width: 640px) {
    .pagination {
        margin-top:45px;
    }
    //pagination
    .pagination > .first {
        display: inline!important;
    }
    .search-box > input {
        display: inline-block;
        width:90%;
    }
    .search-box > button {
        width: 10%;
    }
    .btn-new {
        width: 25%;
    }
    .pagination > li{
        display: inline!important;
    }
}

@media screen and (min-width: 768px) {
    .btn-new {
        width:25%;
    }
    
}
@media screen and (min-width: 992px) {
    .btn-new {
        width:20%;
    }
}
@media screen and (max-width: 640px) {
    table {
      border: 0;
    }
    table thead {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 15px;
      border-bottom: 1px dotted #ccc;
    }
    table td > a {
        font-weight: bold;
        font-size: 18px;
    }
    table td:last-child {
      border-bottom: 0;
    }
    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
   .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: rgba(1, 168, 158, 0.73);
        color:#fff;
    }
}
/*.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>a{
    color: #0D8C84;
}
.pagination>.active>a, .pagination>.active>a:hover{
    background: #0D8C84;
}*/

label.control-label {
  font-weight: 600;
  color: #777;
}
.form-group.internal {
    margin-bottom: 0;
}
.panel-primary>.panel-heading {
    background: #01A89E;
}
.btn-custom {
    background: #01A89E;
    color: #fff;
}
.btn-custom:hover {
    color: #fff;
    background: #0D8982;
}